@font-face {
    font-family: abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}

/*
** USEFUL STYLESHEET
**
*/

body, html {
    cursor: default;
    background-color: #000;
  }
  
  body, html, * {
      font-family: abel;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .black-text {
    color: #000;
  }
  
  .white-text {
    color: #fff;
  }
  
  .no-line {
    text-decoration: none;
  }
  
  .transparent-text {
    color: transparent;
  }

  .darken {
    filter: brightness(0.7);
  }

  .enlight {
    filter: brightness(1);
  }

  .invisible {
    display: none;
  }

  .height-inherit {
    height: inherit;
  }

  .font-3rem {
    font-size: 3rem;
  }

  .bold {
    font-weight: 900;
  }

  .page-color {
    color: #517965;
  }

  .light-grey {
    color: #ccccccad;
  }

  .margin-top-50px {
    margin-top: 50px;
  }  

  .margin-top-100px {
    margin-top: 100px;
  }
  
  .margin-top-200px {
    margin-top: 200px;
  }
  
  .margin-top-300px {
    margin-top: 300px;
  }

/*
** HEADER STYLESHEET
**
*/

.header {
    background-color: #517965;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    width: 100%;
    flex-wrap: wrap;
    align-self: baseline;
    align-items: center;
    justify-content: space-around;
}

.header>.title {
    flex-wrap: wrap;
    background-color: inherit;
    border-width: 2px;
    /* border-style: solid; */
    text-align: left;
    flex: 1;
    height: auto;
    font-size: 3rem;
}

.header>.logo {
    flex-wrap: wrap;
    background-color: inherit;
    /* border-width: 2px;
    border-style: solid; */
    text-align: center;
    flex: 1;
    height: 150px;
}

.header>.logo img {
    height: inherit;
    width: inherit;
    background-color: inherit;
}

.home .header>.logo img:hover {
    cursor: pointer;
}

.header>.contatti{
    flex-wrap: wrap;
    background-color: inherit;
    border-width: 2px;
    /* border-style: solid; */
    text-align: center;
    flex: 1;
    height: auto;
    display: flex;
}

.header>.contatti>span{
    /* border-width: 2px; */
    /* border-style: solid; */
    text-align: left;
    flex: 1;
    justify-content: space-around;
    height: auto;
    font-size: 2rem;
}

.header>.contatti>span:hover {
    cursor: pointer;
    filter: brightness(0.70);
}

/*
** TITLE STYLESHEET
**
*/

.title {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-around;
}

.title>.text {
    flex: 1;
    text-align: center;
    align-self: center;
    height: auto;
    font-size: 7rem;
    color: #517965 ;
}

.title img {
    flex: 1;
    justify-self: right;
    align-self: center;
    height: 800px;
}

/*
** DESCRIPTION
**
*/

.description {
  text-align: center;
}

/*
** PIN
**
*/

.pin {
    height: 50px;
    position: absolute;
}

.pin:hover {
    cursor: pointer;
}

/*
** BANNER
**
*/

.banner {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.765);
  border-radius: 20px;
  background-color: #95959578;
}

.banner .title {
  text-align: left;
  flex: 1;
  height: auto;
  font-size: 28px;
}

.banner .price {
  text-align: center;
  flex: 1;
  height: auto;
  font-size: 18px;
}

.banner .category {
  flex: 1;
  height: auto;
  font-size: 1rem;
  text-align: center;
}

/*
**  ENVIRONMENT STYLESHEET
**
*/

.environment {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.environment>.blank {
  height: 50px;
}

.environment>.image {
  flex: 1;
  height: 700px;
  align-self: center;
}

.environment>.image>img {
  height: inherit;
}

.environment>.text {
  flex: 1;
  align-self: center;
  height: auto;
  text-align: center;
  align-self: left;
  font-size: 2rem;
}

.environment>.text>p {
  width: 800px;
}

/*
** FOOTER
**
*/

.footer {
  background-color: #517965;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer>.logo {
  height: 150px;
}

.footer>.logo img {
  height: inherit;
}

.footer>.logo img:hover {
  cursor: pointer;
  filter: brightness(0.70);
}

.footer>.info {
  align-self: center;
}

.footer>.menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer>.menu div:hover {
  cursor: pointer;
  filter: brightness(0.70);
}

.footer .blank {
  height: 15px;
}

/*
** CHI SIAMO
**
*/

.chisiamo-container {
  display: flex;
}

.chisiamo-container .chisiamo {
  flex: 1000px 1;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.chisiamo-container .blank3 {
  flex: 1;
}


/*
** MEDIA QUERY BREAKPOINTS
**
*/

@media (max-width:1450px)  
{
  .header>.title {
      font-size: 2rem;
  }

  .header>.logo {
      height: 150px;
  }

  .header>.logo img {
    height: 100px;
    width: 100px;
  }

  .header>.contatti>span{
      font-size: 22px;
  }
    .footer {
      font-size: 15px;
    }

    .footer>.logo {
      height: 150px;
    }

    .footer>.logo img {
      height: 100px;
      width: 100px;
    }

    .lonely .description {
      font-size: 25px;
    }
    
    .lonely .description>.text {
      flex: 450px;
    }
    
    .lonely .title {
      font-size: 2rem;
    }

    .chisiamo-container .chisiamo {
      flex: 1 400px;
    }

  .title>.text {
      font-size: 4rem;
  }

  .title img {
      height: 500px;
  }
  
  .environment>.blank {
    height: 50px;
  }
  
  .environment>.image {
    flex: 1;
    height: 600px;
    align-self: center;
  }
  
  .environment>.image>img {
    height: inherit;
  }
  
  .environment>.text {

    font-size: 2rem;
  }
  
  .environment>.text>p {
    width: 600px;
  }

  .description {
    font-size: 2rem;
  }
}

@media (max-width:900px)  {
    .title>.text {
      font-size: 2rem;
  }

  .title img {
      height: 400px;
  }

  .chisiamo-container .chisiamo {
    font-size: 28px;
  }
  
  .environment>.image {
    flex: 1;
    height: 400px;
    align-self: center;
  }
  
  .environment>.image>img {
    height: inherit;
  }
  
  .environment>.text {

    font-size: 2rem;
  }
  
  .environment>.text>p {
    width: 600px;
  }

  .description {
    font-size: 2rem;
  }
}

@media (max-width:630px)  {
    .title>.text {
      font-size: 28px;
  }

  .title img {
      height: 250px;
  }

  .environment>.image {
    flex: 1;
    height: 250px;
    align-self: center;
  }
  
  .environment>.image>img {
    height: inherit;
  }
  
  .environment>.text {

    font-size: 28px;
  }
  
  .environment>.text>p {
    width: 400px;
  }

  .description {
    font-size: 28px;
  }
}